<div class="footer">
    <a *ngIf="footerBtns.info"><div class="icon info"  (click)="goInfo()"></div></a>
    <a [href]="'tel:' + restaurantInfo.phone" *ngIf="footerBtns.phone"><div class="icon phone" (click)=goFlagedItems()></div></a>
    <a [href]="'http:' + restaurantInfo.website" *ngIf="footerBtns.web"><div class="icon globe"></div></a>
    <a [href]="'mailto:' + restaurantInfo.email" *ngIf="footerBtns.mail"><div class="icon mail"></div></a>
    <a *ngIf="footerBtns.bell"><div class="icon bell"></div></a>
    <a *ngIf="footerBtns.bill"><div class="icon bill"></div></a>
    <a *ngIf="footerBtns.save"><div class="icon save"></div></a>
    <a *ngIf="footerBtns.view"><div class="icon eye"></div></a>
    <a *ngIf="footerBtns.cloud"><div class="icon cloud"></div></a>
    <div class="daily-specials" [ngStyle]="{'display': footerBtns.dailySpecials ? 'flex' : 'none'}" (click)="goDailySpecials()">Daily Specials</div>
  </div>
