@import './../../variable.scss';

.info {
  margin: 0 auto;
    padding: 20px 0 0 40px;
    font-size: 20px;
    color: $gray;
    @media (min-width: 768px) {
      width: 320px;
    }
    .map {
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: -29px;
          height: 22px;
          width: 22px;
          background: url(./../../assets/icons/map.svg) no-repeat;
          background-size: cover;
        }
    }
    .phone {
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: -29px;
          height: 22px;
          width: 22px;
          background: url(./../../assets/icons/phone.svg) no-repeat;
          background-size: cover;
        }
    }
    .mail {
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: -29px;
          height: 22px;
          width: 22px;
          background: url(./../../assets/icons/mail.svg) no-repeat;
          background-size: cover;
        }
    }
    .globe {
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: '';
          position: absolute;
          top: 1px;
          left: -29px;
          height: 22px;
          width: 22px;
          background: url(./../../assets/icons/globe.svg) no-repeat;
          background-size: cover;
        }
    }
    .hours {
        position: relative;
        margin-bottom: 10px;
        max-width: 260px;
        &>div {
            display: flex;
            justify-content: space-between;
        }
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: -29px;
          height: 22px;
          width: 22px;
          background: url(./../../assets/icons/clock.svg) no-repeat;
          background-size: cover;
        }
    }
}