/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import './variable.scss';

.buttons {
  position: fixed;
  top: 0;
  right: 50%;
  z-index: 100;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
}

.wrapper {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1024px) {
    width: 500px;
  }


  .header,
  .footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: $theme-color;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    top: 0;
    height: 50px;
    z-index: 20;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    .back {
      width: 50px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(-50%, - 50%);
        height: 22px;
        width: 22px;
        background: url(./assets/icons/arrow-left-white.svg) no-repeat;
        background-size: cover;
      }
    }
    .flags {
      width: 50px;
      position: relative;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translate(0%, - 50%);
        height: 30px;
        width: 30px;
        border: 2px solid #ffffff;
        border-radius: 5px;
      }
      &::after {
        content: '';
        position: absolute;
        top: -12px;
        right: 3px;
        height: 20px;
        width: 20px;
        background-color: $theme-color;
        border-radius: 15px;
        cursor: pointer;
      }
      div {
        font-size: 22px;
        margin-bottom: -6px;
        margin-left: -10px;
        &::after {
          content: '';
          position: absolute;
          top: -12px;
          left: 25px;
          height: 22px;
          width: 22px;
          background: url(./assets/icons/check-white.svg) no-repeat;
          background-size: cover;
          z-index: 20;
        }
      }
    }
  }

  .main {
    padding: 70px 20px;
  }


/*** MENU ****/

.menu-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;;
  li {
      padding: 15px 20px;
      border-top: 1px solid $theme-color;
      position: relative;
      font-size: 21px;
      font-weight: 500;
      color: $gray;
      cursor: pointer;
      &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, - 50%);
          height: 22px;
          width: 22px;
          background: url(./assets/icons/chevron-right.svg) no-repeat;
          background-size: cover;
         }
      &:last-child {
          border-bottom: 1px solid $theme-color;
      }
  }
}
/*** MENU ****/



  .footer {
    bottom: 0;
    height: 64px;
    background-color: white;
  }

  .icon {
    height: 50px;
    width: 50px;
    border: 2px solid $theme-color;
    border-radius: 10px;
    margin: 0 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, - 50%);
      height: 22px;
      width: 22px;
    }

    &.save::after {
      background: url(./assets/icons/save.svg) no-repeat;
      background-size: cover;
    }

    &.bell::after {
      background: url(./assets/icons/bell.svg) no-repeat;
      background-size: cover;
    }

    &.check::after {
      background: url(./assets/icons/check.svg) no-repeat;
      background-size: cover;
    }

    &.checkbox::after {
      background: url(./assets/icons/check-square.svg) no-repeat;
      background-size: cover;
    }

    &.right::after {
      background: url(./assets/icons/chevron-right.svg) no-repeat;
      background-size: cover;
    }

    &.download::after {
      background: url(./assets/icons/download.svg) no-repeat;
      background-size: cover;
    }

    &.eye::after {
      background: url(./assets/icons/eye.svg) no-repeat;
      background-size: cover;
    }

    &.bill::after {
      background: url(./assets/icons/file-text.svg) no-repeat;
      background-size: cover;
    }

    &.info::after {
      background: url(./assets/icons/info.svg) no-repeat;
      background-size: cover;
    }

    &.phone::after {
      background: url(./assets/icons/phone.svg) no-repeat;
      background-size: cover;
    }

    &.back::after {
      background: url(./assets/icons/arrow-left.svg) no-repeat;
      background-size: cover;
    }

    &.cloud::after {
      background: url(./assets/icons/download-cloud.svg) no-repeat;
      background-size: cover;
    }

    &.star::after {
      background: url(./assets/icons/star.svg) no-repeat;
      background-size: cover;
    }

    &.trash::after {
      background: url(./assets/icons/trash-2.svg) no-repeat;
      background-size: cover;
    }

    &.home::after {
      background: url(./assets/icons/home.svg) no-repeat;
      background-size: cover;
    }

    &.globe::after {
      background: url(./assets/icons/globe.svg) no-repeat;
      background-size: cover;
    }

    &.mail::after {
      background: url(./assets/icons/mail.svg) no-repeat;
      background-size: cover;
    }

    &.map::after {
      background: url(./assets/icons/map.svg) no-repeat;
      background-size: cover;
    }

    &.map-pin::after {
      background: url(./assets/icons/map-pin.svg) no-repeat;
      background-size: cover;
    }

  }
}
