.daily-specials {
    height: 64px;
    background-color: #ff7222;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}